/* General Styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: none;
}

.component {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 750px;
  
}

.header {
  background-color: #d0cccc;
  color: black;
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

.sub-header {
  text-align: center;
  color: black;
  font-size: 0.9em;
  padding: 0px;
  padding-inline: 10%;
  background-color: #f8f4f4;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 10px auto;
  margin-top: 0px;
  width: fit-content;
}
.sub-header .horz-text p{
  padding: 5px;
  padding-right: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.image-container img {
  max-width: 100%;
  border-radius: 2px;
}

.icon-container {
  width: 20px;
  /* Set a fixed width for the icon */
  height: 20px;
  /* Set a fixed height for the icon */
  display: flex;
  /* Center the image inside the container */
  justify-content: center;
  align-items: center;
  padding: 9px;
}
.icon-container img {
  max-width: 100%;
  background-color: black;
  border: 9px solid black;
  border-radius: 4px;
  display: flex;
}

.icon-container-button{
  width: 20px;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
}
.icon-container-button img {
  max-width: 100%;
  border-radius: 4px;
  display: flex;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.grid-container h2 {
  margin: 0;
  font-size: 1.2em;
}

.contact-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 38px;
  width: 70%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.grid p {
  margin: 0;
  font-size: 0.9em;
  color: black;
  font-weight: 700;
}

.phone-number {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
.phone-number h1{
  font-size: 1.2em;
  font-weight: 700;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0px;
}

.big-button {
  background-color: #1971d4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 1em;
  cursor: pointer;
}
.big-button .horz-text{
  justify-content: center;
  align-items: center;
}
.small-buttons button .horz-text{
  justify-content: center;
  align-items: center;
}
.small-buttons button .horz-text .icon-container-button{
  width: 15px;
}
.big-button:hover {
}

.small-buttons {
  display: flex;
  gap: 5px;
}

.small-buttons button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 0.8em;
  cursor: pointer;
}

.small-buttons button:hover {

}

.special-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.horz-text{
  display: flex;
  align-items: center;
}
.horz-text h1, .horz-text p, .horz-text h3{
  margin: 0;
}

/* Disclaimer Button Styling */
.disclaimer {
  text-align: center;
  padding: 10px;
}

.disclaimer-button {
  background-color: #ffc107;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.disclaimer-button:hover {
  background-color: #e0a800;
}

/* Responsive Design */
@media (min-width: 1070px) {
  .container {
    flex-wrap: nowrap;
  }

  .component {
    width: calc(50% - 20px);
  }

  .content {
    flex-direction: row;
  }

  .image-container {
    flex: 1;
  }

  .grid-container {
    flex: 1;
  }
}